# Database Configuration
DB_HOST=https://ojrocket.github.io/SWEeyam-2026/index.html
DB_USER=postgres
DB_PASSWORD=ramsathvik
DB_NAME=sweeyam2026
DB_PORT=5432

# Server Configuration
PORT=5000

